

body {
    font-family: 'IM Fell DW Pica', serif;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/013/818/858/large/clark-coots-screenshot049.jpg?1541213865");
}

h1 {
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}

h2 {
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}

h3 {
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}

.panel-heading {
    background-color: white;
}

.variables {
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}

