

body {
    font-family: 'IM Fell DW Pica', serif;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/013/818/858/large/clark-coots-screenshot049.jpg?1541213865");
}

h1 {
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}

h2 {
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}

.jumbotron {
    background-color: navajowhite;
}

.panel-heading {
    background-color: white;
}

.variables {
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 20px;
}

p {
    font-size: 40px;
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}

.swal-modal {
    background-color: ghostwhite;
    
}

.swal-text {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 20px;

}
.swal-title {
    margin: 0px;
    font-size: 30px;
    margin-bottom: 28px;
    font-family: 'IM Fell DW Pica', serif;
    text-transform: capitalize;
  }

  .swal-button {
    background-color: darkolivegreen;
    color: rgba(0, 0, 0, .65);
    font-family: 'IM Fell DW Pica', serif; 
  }


